#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.resume {
  min-width: 800px;
  min-height: 1100px;
  background-color: white;
  margin: 28px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personalDetails {
  background-color: #0e374e;
  color: white;
}

.personalDetails > p {
  margin: 0;
  text-align: center;
}

.fullName {
  padding-bottom: 12px;
  padding-top: 24px;
  font-size: 48px;
  font-weight: bold;
}

.contactInfo {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 24px;

}

ul {
  list-style-type: none;
}

/* .email::before{
  content: ' ✉️ ';
}

.phoneNumber::before{
  content: ' 📞 ';
}

.address::before{
  content: ' 🏠 ';
} */